@font-face {
/*    font-family: 'Se-hwa';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Se-hwa.woff') format('woff');
*/    font-weight: normal;
    font-style: normal;
}

*{
    /*font-family: 'Quicksand', sans-serif;*/
    /*font-size: 16px;*/
    color: #888888;
}
html, body{
    margin: 0;
    /*height: 100vh;*/
    text-align: center;
    /*background: #a5d6a7;*/
    /*background: #c8E6c9;*/
    background: #e6e9e1;
}
header .heading {
    
}

.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em;
}
.sub-heading{
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Se-hwa';
    font-weight: bold;
    font-size: 3em;
    margin-top: 2em;
}
.sub-text{
    /*font-family: 'Se-hwa';*/
    font-size: 1em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 2em;
        margin: 1em 0;
    }
}

.navi-icon{
    width: 3.125em;
    height: 3.125em;
}
.parent-area {
    width: 80%;
    border-top: 1px solid #dddddd;
    text-align: center;
    margin: 20px auto;
    padding-top: 40px;
}
.parent-name {
  /*font-weight: bold;*/
  font-size: 1.4em;
  font-weight: 600;
}

.sub-title {
    width: 80%; 
    border-bottom: 1px solid #dddddd; 
    text-align: center; 
    margin: 30px auto !important; 
    padding-bottom: 20px;
}


    a{
      text-decoration: none;
    }

    @use postcss-preset-env;

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(https://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

a {
  text-decoration: none;
  color: #888888;
}


table {
  margin: 0 auto 30px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/*.container {
  width: 510px;
}*/

/* ---------- CALENDAR ---------- */

.calendar {
  text-align: center;
}

.calendar header {
  position: relative;
}

.calendar h3 {
  text-transform: uppercase;
  margin-bottom: 2em;
}

.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}

.calendar tbody {
  color: #7c8a95;
}

.calendar tbody td:hover {
  border: 2px solid #00addf;
}

.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 2em;
  line-height: 1.5em;
  text-align: center;
  width: 2em;
}

.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}

.current-day {
  background: #003366;
  color: #f9f9f9;
}

.event {
  cursor: pointer;
  position: relative;
}
.card {
  border-radius:  0.5rem;
}
.card-body {
  padding: 1rem 0 !important;
}

footer {
    background: #eee;
    padding: 20px 0;
}
@font-face { font-family: 'NotoSerifKR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); font-weight: normal; font-style: normal; }
.main-title {
    /*font-family: 'Nanum Pen Script', cursive;*/
    font-family: 'NotoSerifKR';
    font-size: 1.6em;
    font-weight: 400;
}

.carousel {
    padding: 50px;
    /*height: 30rem;*/
    background: #ddd;
}
.carousel-control-prev, .carousel-control-next {
    width: 30%;
}
.map_wrap {position:relative;overflow:hidden;width:100%;height:350px;}

.radius_border{border:1px solid #919191;border-radius:15px;}     
.custom_typecontrol {position:absolute;top:20px;right:20px;overflow:hidden;height:50px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:50px;height:50px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .selected_btn {color:#fff;background:#ddd; line-height: 4em; opacity: 80%;}
.custom_typecontrol .selected_btn:hover {color:#fff;}   
.hidden {display: none;}
#panel {z-index: 1; width:100%; height: 350px; position: absolute; top:0;}